<footer class="container-fluid bh-absolute-bottom">
    <div class="row">
        <div class="col footerc">
            
                <p class="footer">Copyright ©&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2018&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;VZW 'T OUD POSTJE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All rights reserved&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                <p class="footer">In samenwerking met Lien Van Ransbeeck en Artevelde Hogeschool  |  Academiejaar 2017-2018</p>
                <p class="footer">Ons e-mailadres is: wijkresto.oudpostje@torekevzw.be </p>





        </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>