/* Navigation
---------------------------------------------
*/
.navbar a {
    &:hover {
      color: #808080;
    }
    &:active{
      color: #808080;
    }
    &:focus{
      color: white;
    }
  }


/* FOOTER
----------------------------------------------
sticked to the bottom with small content pages
*/
html {
    height: 100%;
  }

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background-color: white;
  }

.bh-absolute-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

footer {
    background-color: #299FB0;
    color: $color-white;
    a {
        color: $color-white;
        &:hover {     border-bottom: solid 2px $body-link;
            
        }
    }
}

/* BACK TO TOP
-------------------------
*/
#to-top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:#1E1E1E; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  //padding: 15px; /* Some padding */
  width: 40px;
  height: 40px;
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  &:hover {
    background-color:#299FB0; 
  }
}




.konteiner {
  margin-left: 25px;
}


/*              NAVIGATIE               */


.navigatie {
  text-align: right;
  padding-right: 100px;
}

.logo {
  width: 130px;
  margin-left: 69px;
}

.tekstnav {
  color: #299FB0;
  font-size: 16px;
  padding-left: 290px;
  margin-right: 20px;
}




/*              CONTAINER               */


/*              INDEX HOME              */

.knuffelfoto{
  width: 528px;
  float: left;
}
.homeptitel{ 
  margin-left: 24px;
  margin-top: -77px;
}


/*              INDEX LOGO               */

.logonormaal {
  width: 550px;
  margin-left: 80px;
}

.logoruimte {
  width:600px;
}

.logoicoon {
  width: 200px;
}

.fslogo {
  width: 600px;
  padding-bottom: 40px;
}

.logowbm {
  margin-bottom: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logodl {
  margin-left: 425px;
    margin-bottom: 50px;
}

.tekstlogo {
  float: left;
}

.tekstgewuun {
  padding-top: 36px;
}

.tekstzw {
  padding-top:91px;
}

h1 {
   margin-bottom: 40px;
}
h2 {
  margin-bottom: 40px;
  margin-top:100px;
  font-size: 30px !important; 
}

h3 {
  font-size: 19px !important; 
  color:#808080 !important;
  margin-bottom: 10px;
}

.donts {
  width: 1044px;
  margin-top: 30px;

}

.btn:hover {
  background-color: #299FB0; 
  color: white;
}

.kader {
  border-style: solid;
  border-width: 1px;
  padding: 35px;
  margin-top: 25px;
}

.minruimte {
  width: 500px !important;
  margin-right: 20px !important;
}

/*              INDEX kleur               */

.kleurenfoto {
  width: 880px;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}



.headtekst {
  color: #f7a713;
  padding-left: 38px;
  font-size: 55px;
  padding-top: 127px;
  padding-bottom: 53px;
}

p {
  font-size: 15px;
  line-height: 29px;
}


/*              INDEX typografie             */

.headteksthome {
  color: #f7a713;
  padding-left: 20px;
  font-size: 55px;
  padding-top: 70px;
  padding-bottom: 53px;
}

.buttons {
  margin-bottom: 60px;
    margin-top: -12px;
}

.typotekst {
  padding-top:75px;
}

/*              INDEX typografie             */

.font {
  padding-top: 25px;
}

.avenirnextfont {
  width: 244px;
  margin-top:87px;
}


.specificaties {
  width: 270px;
}

/*              DIGITAAL             */

.digi {
  margin-top:30px !important;
}

/*           STYLEGUIDE     */

.headtekststijlgids {
  color: #299FB0;
  padding-left: 28px;
  font-size: 110px;
  margin-bottom: 50px;
  padding-top: 62px;
  padding-bottom: 53px;
}

/*            ELEMENTEN      */


.icoon{
  margin-left: 80px;
  margin-top:16px !important;
}

.icoon1 {
  margin-left:20px;
  margin-top:16px !important;
}

.icoon2 {
  margin-top:16px !important;
  margin-left: 30px;
}


/*            FOOTER       */

.footer {
  font-family: "Avenir Next", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6em;
  text-align: center;
}

.footerc {
  padding: 33px;
}

.leeg {
  height: 300px;
}


.mockupflyer {

  width: 346px;
  margin-top: 112px;
}

.mockup {
  margin-top: 112px;

}

.download {
  border-color: #299FB0;
  color: #299FB0;
  margin-top:8px;
}


.wit {
  margin-top: 26px;
    margin-bottom: 86px;
}

.waarden {
  margin-top: 60px;
}

.tekstkleuren {
  margin-top: 24px;
}


