// default-styling

body {
    font-family: 'nunito Sans', sans-serif ;;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
    line-height: $lineheight-base;
    background-color: $body-bg;
    color: $body-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $myfont-family-title;
    font-weight: $font-weight-bold;
}

h1 {
    font-weight: $font-weight-light;
    font-size: 2rem;
    color: #f7a713;
}
h2 {
    font-weight: $font-weight-light;
    font-size: 2rem;
    margin: 2rem 0 1rem;
    color:#299FB0
}
h3, h4, h5, h6 {
    font-size: 1rem;
    margin: 2rem 0 0;
}
a {
    font-family:'Varela Round', sans-serif;
    text-decoration: none;
    color: #808080;;
    &:hover{
        color: #299FB0;
        border-bottom: #299FB0;

    }
    &:active{
        color: #299FB0;
        
    }
    &:focus{}
}
blockquote {
    padding-left: 24px;
    border-left: 2px solid $mycolor-5;
}

// ongeordende lijstjes met een ander symbool of kleur
main ul {
  list-style: none;  
  margin: 0 0 1em;
  padding: 0;
  li {
    padding-left: 25px;
    text-indent: -25px;
    &:before {
        content:'\2022';
        color: #808080;
        margin-right: 18px;
    }    
  }
}

//geordende lijstjes met een ander symbool of kleur
main ol {
    font-size: 15px;
    line-height: 29px;
    list-style: none;  
    margin: 0 0 1em;
    padding: 0;
    counter-reset: i 0;

  }

//forms 
button, a.btn {
    
    &:hover{}
    &:active{}
    &:focus{}
}
input[type=text], textarea {

}